* {
  font-family: comic sans ms;
}

#navigation {
  background-color: #9cd9db;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 15%;
}

#navigation a:hover {
  background-color: #cceced;
  color: lightblue;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link, a:visited {
  background-color: lightblue;
  color: #2f85ad;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:#80f2c7 ;
}

.classyeet {
  display: none;
  position: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.divclassyeet {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 5px solid #2f85ad;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#button {
  background: -webkit-linear-gradient(#74fcea, #ea74fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

h1 {
  background: -webkit-linear-gradient(#e06cc9, #2f85ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

h3 {
  color: #254732
}
a[href="https://www.ucvts.tec.nj.us/domain/107"] {
  background: transparent;
  color: #e06cc9;
  display: text;
}

a[href="https://www.ucvts.tec.nj.us"] {
  background: transparent;
  color: #2f85ad;
  display: text;
}

#footerthing {
  align-content: center;
  text-align: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: black;
  background: #80f2c7;
}

#footerthing2 {
  align-content: center;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: black;
  background: #80f2c7;
}

#headertext {
  color: #e06cc9;
}
