* {
  font-family: comic sans ms;
}

#navigation {
  background-color: #9cd9db; 
  position: fixed; 
  top: 0px;
  left: 0px; 
  width: 100%; 
}

#navigation a:hover {
  background-color: #cceced;
  color: lightblue;
}

window.onscroll = function() {scrollFunction()};
function scrollFunction() {}}


