* {
  font-family: comic sans ms;
}

#navigation {
  background-color: #9cd9db; 
  position: fixed; 
  top: 0px;
  left: 0px; 
  width: 100%; 
}

#navigation a:hover {
  background-color: #cceced;
  color: lightblue;
}

window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navigation").style.top = "0";
  } else {
    document.getElementById("navigation").style.top = "0px";
  }
}


